
main{
  margin-top: 100px;
}
.music_box{
  width: calc((100% / 3) - 80px);
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: $backgroundMusicBox;
  img{
    max-width: 150px;
  }
  h2{
    color: #fff;
  }
  p{
    color: $lightGrey;
  }
  span{
    color: $lightGrey;
  }
}
